.cv-single-post {
    overflow: hidden;
    .post_top {
        display: flex;
        justify-content: space-around;

        .entry-header {
            padding: 5%;
            max-width: 50%;
        }

        .cat-links{
            a {
                text-decoration: none;
                color: #2196F3;
                background-color: var(--bgColor);
                padding: 3px 5px;
                transition: .5s ease all;
                border: 1px solid transparent;

                &:hover {
                    transition: .5s ease all;
                    border: 1px solid #2196F3;
                }
            }
            
        }

        .entry-title {
            padding: 10% 0 0;                
            font-size: 30px;
        }

    }

    a {
        @include link;	
        color: #2196F3;

        &:hover {
            @include linkHover;
        }
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        box-shadow: none;
        text-shadow: none;
        padding: 10px 20px;
        background-color: var(--bgColor);
        font-size: 15px;
        color: #111;
        cursor: pointer;
        transition: .5s ease all;
        border:1px solid #333;

        &:hover {
            border:1px solid var(--bgColor);
            background: #111;
            color: #fff;
            transition: .5s ease all;
        }
    }
}

.post_mid {
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

    .two {
        max-width: 70%;
        width: 70%;
        padding-left: 10%;
    }

    .post-edit-link {
        border: 1px solid #ddd;
        padding: 1px;
        font-size: 13px;
        margin: 10px;

    }

    .entry-meta {
        background-color:var(--bgColor);
        padding: 5px;
    }

    .entry-footer {
        font-size: 14px;
    }

    .gallery a {
        border-bottom: none;
    }

    .one {
        padding-top: 3%;
        font-size: 15px;

        a {
            text-decoration: none;
            font-size: 14px;
            @include link;

            &:hover {
                @include linkHover;
            }
        }
    }
}

.post-navigation {
    padding: 5% 15%;

    .nav-previous, .nav-next {
        box-shadow: 1px 1px 10px 5px #eeeeeee0;
        background-color: var(--bgColor);
        padding: 20px;
        border:1px solid #9e9e9e57;
    }
    a {
        font-size: 16px;
        @include link;
        padding: 20px;
        border-bottom: none;
        &:hover {
            @include linkHover;
            border-bottom: none;
        }
    }
}

.comments-area {
    padding: 5% 10%;
    overflow: hidden;

    .pingback  {
        padding: 5px 0;

        a {
            @include link;
        }
    }

    .logged-in-as a {
        @include link;
        border:none;
        font-size: 14px;

        &:hover {
            @include generalLinkHover;
        }
    }

    a {
        @include link;
        border:none;
        
        font-size: 14px;

        &:hover {
            @include generalLinkHover;
        }
    }

    .comment-edit-link {
        padding: 2px 5px;
        border: 1px solid #eee;
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        box-shadow: none;
        text-shadow: none;
        padding: 20px 30px;
        background-color: var(--bgColor);
        font-size: 15px;
        color: #111;
        float: right;
        cursor: pointer;
        transition: .5s ease all;
        border:1px solid #333;

        &:hover {
            border:1px solid var(--bgColor);
            background: #111;
            color: #fff;
            transition: .5s ease all;
        }
    }
   
}

@media (min-width: 300px) and (max-width: 1100px) {
    .post {
        .post_top {
            display: block;

            .entry-header {
                width: 100%;
                font-size: 25px;
                max-width: 100%;
            }

            .entry-title {
                font-size: 30px;
            }
        }
        
    }

    .post_mid {
        display: block;

        .two {
            max-width: 100%;
            width: 100%;
        }
    }

    .post-navigation {

        text-align: center;
        margin: 0 auto;

        .nav-previous, .nav-next {
            float: none;
            width: 100%;
            text-align: center;
            padding: 5% 0;
        }

         a {
            padding: 3px;
        }
    }

    .comments-area {
        ul, ol {margin: 10px;}
    }

}

@media (min-width: 500px) and (max-width: 1099px) {
    .post-navigation {
         a {
            padding: 15px;
        }
    }
}

