#masthead {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 15%;
	background-color:var(--bgColor);

	.site-branding {
		.site-title {
			margin-bottom: 5px;

			a {
				@include link;
				font-weight: bold;
				font-size: 25px;
				border:none;

				&:hover {
					@include linkHover;
					border:none;
				}
			}
		}

		.site-description {
			margin-top: 5px;
			font-size: 13px;
		}
	}

	.site-navigation {
		margin-left: auto;
	}
}

.main-navigation {
	display: block;
	margin-left: auto;


	.menu {
		display: none;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


button.sidr-class-menu-toggle {
	display: none;
}

.menu-toggle {
	background-color: #f3f2ee;
	color: #111;
	box-shadow: 1px 1px 1px 1px #eee;
	transition: .5s ease all;
	cursor: pointer;
	padding: 8px 13px;
	font-size: 13px;
	border-color: #e8e7e4;
	

	&:hover {
		box-shadow:3px 3px 1px 1px #eee;
		transition: .5s ease all;
	}

}

.menu_close {
	float: right;
	color: #2196F3;
	cursor: pointer;
}

.pad_menutitle {
	padding: 5%;
	background-color: #f3f2ee;
}